@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap&effect=fire');
*{margin:0; padding:0;}
nav
{
padding: 15px;
background-color: #B2F0CF;
text-align: right;
}

nav ul li, nav ul li a
{
display: inline-block;
}


.active
{
    background-color:white;
}
nav ul li a:hover
{
color:#B2F0CF;
background-color:#A12518;
transform: scale(115%);



}
nav ul li a
{
    padding: 15px;
    text-decoration: none;
    font-family:'Josefin Sans', sans-serif;
    color:#A12518;
    border-radius: 50%;
    transition: 500ms;
   
}